.hhh {
	margin:auto;
	text-align: center;
}
.ccc {
	font: arial;
	font-size: 180%;
}
.aaa {
	margin: center;
	font-size:180%;
}
.ggg {
	font-size: 120%;
}
.jjj {
	margin: center;
	font-size: 150%
}
.kkk {
	font: arial;
	font-size: 180%;
}
.zzz {
	font-size: 120%;
}
.lom {
	font: arial;
	font-size: 150%;
}
.ppp {
	margin: auto;
	text-align: center;
}
.qqq {
	margin: auto;
	text-align: center;
}
.mah {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
.buh {
	margin: auto;
	text-align: center;
	opacity: 0.4; 
}
.buh:hover {
	opacity: 1.0;
}
.mer{
	margin: auto;
	text-align: center;
	opacity: 0.4; 
}
.mer:hover{
	opacity: 1.0;
}
.fuu{
	margin: auto;
	text-align: center;
	opacity: 0.4; 
}
.fuu:hover{
	opacity: 1.0;
}
.you{
		margin: auto;
	text-align: center;
	opacity: 0.4; 
}
.you:hover{
	opacity: 1.0;
}
.bch{
		margin: auto;
	text-align: center;
	opacity: 0.4; 
}
.bch:hover{
	opacity: 1.0;
}
.AH {
	font-family: arial;
	font-size: 40px;
}
.AHlink{
	font-style: italic;
}
.AHd{
	font-size: 200%;
}
.AHP{
	height: 600px;
	margin: auto;
}
.AHQ{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.AHQ1{
	height: 450px;
}
.AHq{
	margin: auto;
}
.AHP2{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}