.hhh {
	margin:auto;
	text-align: center;
}
.ccc {
	font: arial;
	font-size: 180%;
}
.aaa {
	margin: center;
	font-size:180%;
}
.ggg {
	font-size: 120%;
}
.jjj {
	margin: center;
	font-size: 150%
}
.kkk {
	font: arial;
	font-size: 180%;
}
.zzz {
	font-size: 120%;
}
.lom {
	font: arial;
	font-size: 150%;
}
.ppp {
	margin: auto;
	text-align: center;
}
.qqq {
	margin: auto;
	text-align: center;
}